*{
    margin:0px;
    border:border-box;
    font-family:arial;
}
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}

/* navbar */
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}

/* box 1 */
.nav_logo{
    height:50px;
    width:100px;
}

.logo{
    height:50px;
    width:100%;
    background-image: url("/PROJECT/images/chattogram-bangladesh-april-24-2023-260nw-2292992631.webp");
    background-size:cover;
}

/** box 2 **/
.nav_address{

}
.add1{
    color:#cccccc;
    font-size:0.80rem;
    margin-left: 15px;
}
.add2{
    font-size:1rem;
    margin-left: 4px;
}
.icon-add{
    display:flex;
    
}

/*box 3 */
.nav_search{
    background-color: #0f1111;
    display:flex;
    justify-content: space-evenly;
    width:620px;
    height:40px;
    border-radius:5px;
}
.search_select{
    background-color: #f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    border:none;
}
.search_icon{
    width:45px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:1.3rem;
    background-color: #febd68;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
}
.search_input{
    width:100%;
    font-size:1rem;
    border:none;
}

.nav_search:hover{
    border:2px solid orange;
}

/* box 4 */
.nav_signin{

}
.nav_first{
    font-size:0.7rem;
}
.nav_sec{
    font-size:0.85rem;
    font-weight:700;
}

/* box 5 */
.nav_cart{
    font-size:0.85rem;
    font-weight: 700;
}
.nav_cart i{
    font-size:30px;
}


/* panel*/
.panel{
    height:40px;
    background-color: #222f3d;
    display:flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-icon{

}
.panel-options{
    width:70%;
    font-size: 0.85rem;
    
}
.panel-options p{
    display: inline;
    margin:10px;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight:700;
}

/* hero */
.hero{
    height:300px;
    background-image: url("/PROJECT/images/hero.jpg");
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    
}
.hero-msg{
    background-color: white;
    color:black;
    height:40px;
    width:80%;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom:25px;
}
.hero-msg a{
    color:#007185;
}

/* shop */
.shop{
    display:flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    border:none;
    flex-wrap: wrap;
}
.box{
    height:400px;
    width:23%;
    border:2px solid black;
    background-color: white;
    padding:20px 0px 15px;
    margin-top:15px;
    
}
.box1{

}
.img{
    height:300px;
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;
}
.box1-image{
    background-image:url("./PROJECT/images/box1.jpg") ;
}
.box2-image{
    background-image:url("./PROJECT/images/box2.jpg") ;
}
.box3-image{
    background-image:url("./PROJECT/images/box3.jpg") ;
}
.box4-image{
    background-image:url("./PROJECT/images/box4.jpg") ;
}
.box5-image{
    background-image:url("./PROJECT/images/box5.jpg") ;
}
.box6-image{
    background-image:url("./PROJECT/images/box6.jpg") ;
}
.box7-image{
    background-image:url("./PROJECT/images/box7.jpg") ;
}
.box8-image{
    background-image:url("./PROJECT/images/box8.jpg") ;
}
.box-content{
    margin:1rem;
}
.box-content p{
    color:#007185;
}

/* footer */
footer{
    margin-top:15px;
}

.footer-panel1{
    background-color: #374758;
    color:white;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.85rem;
}
.footer-panel2{
    background-color: #222f3d;
    color:white;
    height:500px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top:20px;
}
.footer-panel2 a{
    display:block;
    font-size:0.85rem;
    margin-top:10px;
    color:#dddddd;
}
.footer-panel3{
    height:70px;
    background-color: #222f3d;
    color:white;
    border-top:0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    height:50px;
    width:100px;
    background-image: url("/PROJECT/images/chattogram-bangladesh-april-24-2023-260nw-2292992631.webp");
    background-size: cover;
}

.footer-panel4{
    background-color: #0f1111;
    color:white;
    height:80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top:25px;
}
.copyright{
    margin-top:5px;
}